@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

    
body{
    background-color: #F2F2F2;
    margin: 0;
    font-family: 'Roboto';
}
    
    html, body {
    scroll-behavior: smooth;
    }
    
.logo {
    background-color: #E0B0A6;
    height: 180px;
    text-align: center;
    padding-top: 20px;
}


.header {
    background-color: #E0B0A6;
    height: 40px;
    padding-top: 20px;
    Padding-bottom: 50px;
    border-bottom: 6px solid #F0C6BD;
    text-align: center;
    position: center;
}

#links {
    font-size: 1.1em;
    color: #C9B79B;
    text-align: center;
}

#links a{
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

body .about{
    background-image: url(abo-cat.jpg);

    background-position: center;
    background-repeat: no-repeat, repeat-x;
    background-size: 200px, auto;
}

.about{
    color: black;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
    margin-top: auto;
}

#abo {
    color: black;
    font-family: 'Pattaya';
}

#abo p{
    color:aqua;
    max-width: 200px
}


.method{
    color: black;
    background-color: #D7DDDE;
    text-align: center;
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
    margin-top: auto;
}

#met {
    color: black;
    font-family: 'Pattaya';
}

#met p{
    padding-left: 40px;
    
}

.products{
    color: black;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
    margin-top: auto;
}

#pro {
    color: black;
    font-family: 'Pattaya';
}

#pro p{
    padding-left: 40px;
    
}

.gallery{
    background-color: #A4B6BF;
    color: black;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

#gal {
    color: black;
    font-family: 'Pattaya';   
}

.gallery div {
    margin-bottom: 60px;
}

#con{
    color: #80909a;
    font-family: 'Pattaya';
}

.contact {
    background-color: #829BA8;
    color: black;
    line-height: 2rem;
    padding: 40px 20px;
}

.contact p{
    text-align: center;
    padding-bottom: 20px;
}

.contact #con {
    margin: auto;
    max-width: 950px;
    text-align: center;
    color: pink;
    font-family: 'Pattaya';
}


.contact h2 {
    text-align:center;
    margin-top: 0;
    color: yellow;
        
}

.contact form {
    padding-top: 0px;
    text-align: center;
}

.contact form p {
    font-size: .8rem;
    line-height: 1.1rem;
    margin-top: 0;
}

.contact input,
.contact textarea {
    background-color: white ;
    border: 1px;
    border-radius: 5px;
    color: aqua;
    font-family: 'Roboto';
    font-size: 1rem;
    margin: 5px 0;
    padding: .5rem;
    width: 50%;
}

.footer {
    color: white;
    background-color: #57798F;
    font-size: 1.2rem;
    padding-top: 30px;
    padding-bottom: 10px
}

.footer {
    display: grid;
    grid-template-columns: 65% auto;
    text-align: center;
    margin: auto;
    border-bottom: 6px solid #638399;
}

.footer .top {
    margin-top: -30px;
    text-align: right;
    padding-right: 80px;
    font-size: 3rem;
}


.top a{
    text-decoration: none;
    color: white;
}
